:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
.text-center {
    justify-content: center;
}
.thead-bg {
    background-color: #17a2b8;
}
.btn-width {
    padding-top: 0;
    width: 90px;
    height: 30px;
}
.hiden {
    height: 0;
    width: 0;
    border: none;
}
.btn-click {
    cursor: pointer;
}
.input-grade-corr {
    width: 40px;
    border: none;
}
.input-subject-corr {
    width: 140px;
    border: none;
}
.input-date-corr {
    border: none;
    width: 90px;
}
form{
    padding-bottom: 20px;
}
input[type="text"]::-moz-placeholder {color: #000;}
input[type="text"]::-webkit-input-placeholder { color: #000; }
input[type="text"]:-ms-input-placeholder { color: #000; }
input[type="text"]::-ms-input-placeholder { color: #000; }
input[type="text"]::placeholder { color: #000; } 

@media (max-width: 576px) {
    .btn-width{
        font-size: 0;
        width: 10px;
        background: #e6717c;
    }
    h1 {
        font-size: 1.6rem;
        width: 340px;
    }
    .table {
        font-size: 14px;
    }
    .input-subject-corr {
        width: 110px;
    }
    .input-date-corr {
        width: 75px;
    }
    .id {
        display: none;
    }
    .container {
        padding: 0 5px;
    }
    .table td, .table th {
        padding: .25rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }
    .row {
        margin: 0;
    }
}